footer {
  display: flex;
  justify-content: space-evenly;
  font-family: "Red Hat Display", sans-serif;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(174, 236, 239, 1) 100%
  );
  min-height: 7vh;
  width: 100%;
  margin-top: auto;
  left: 0;
  bottom: 0;
}
footer p {
  width: 60%;
  text-align: left;
  margin: auto;
  margin-left: 25px;
  font-size: large;
}
#socialIcons {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  font-size: x-small;
}

.fa-linkedin,
.fa-github {
  font-size: x-large;
  color: black;
  text-align: right;
}

@media screen and (min-height: 800px) {
}
